.match-container {
    border: 2px solid #4d4d4d;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1px;
    padding: 1px;
}

.team-logo {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
    align-items: center; 
}
