.bracket-match {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #4d4d4d;
    width: 80px;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}

.bracket-team {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    background-color: #f2f2f2;
    font-size: 13px;
    overflow: hidden;
    color: #4d4d4d;
}

.bracket-final * {
    font-size: 16px;
}

.bracket-final {
    background-color: #b19d09;
    margin: 10px;
}


@media screen and (max-width: 350px) {
    .bracket-match {
        width: 60px;
        transform: rotate(90deg)
    }
}

@media screen and (max-width: 260px) {
    .bracket-match {
        width: 40px;
        transform: rotate(90deg)
    }
}