.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row * {
    margin: 1px;
}

.row-title {
    background-color: grey;
    border-radius: 5px;
    color: #efefef;
}

.row-title * {    
    font-weight: bold;
}

.row-basic {
    background-color: white;
    border-radius: 5px;
    margin: 1px;
}

.name {
    width: 140px;
}
