.row-title {
    color: #4d4d4d;
}

.row-title * {    
    font-weight: bold;
}

.row-basic {
    font-size: 15px;
    margin: 1px;
    border: 1px solid #4d4d4d;
}

.row-team-logo {
    width: 15px;
    height: 15px;
}
