.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row-title {
    background-color: grey;
}

.row-title * {    
    font-weight: bold;
}

.row-basic {
    background-color: white;
    border-radius: 5px;
    margin: 1px;
}

.name {
    width: 120px;
}
