.local-title {
    color: #007acc; 
}

.inter-title {
    color: #800000;
}

.comp-title {
    margin-bottom: 20px;
    align-self: center;
    font-size: 30px;
    font-style: italic;
}

.competition-container {
    display: flex;
    flex-direction: column;
}

.competition-info {
    display: flex;
    justify-content: space-around;
}
