.App {
  background-color: #E0E0E0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.section-container {
  margin: 20px;
}

.inter-title {
  font-size: 30px;
  font-style: italic;
  color: #800000;
}
